## ETL Project
### Restaurant Data with Consumer Ratings

#### Load the data using psycopg2:

In [ ]:
# import psycopg2
# conn = psycopg2.connect("host=localhost dbname=restaurant user=postgres password=Dmaisamma@69")
# cur = conn.cursor()
# with open('A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozaccepts.csv', 'r') as f:
#     # Notice that we don't need the `csv` module.
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'payment', sep=',')
# with open('A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozcuisine.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'cuisine', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozhours4.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'hours', sep=',')
# with open('A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozparking.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'parking', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\geoplaces2.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'geoplaces', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\rating.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'rating', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\usercuisine.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'usercuisine', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\userpayment.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'userpayment', sep=',')

    
# # commit to load CSV files into a Postgres table.   
# conn.commit()    

# #close the cursor
# #cur.close()

# #close the connection
# #conn.close()

In [2]:
import psycopg2
password="Dmaisamma@69"
conn = psycopg2.connect(host="localhost", dbname="restaurants", user="postgres", password=password)
# conn.autocommit = True
cur = conn.cursor()
# 1.Accepts cash or credit in restaurant:
#Droping hours table if already exists
cur.execute("DROP TABLE IF EXISTS accepts ")
print("Table 1 dropped... ")

# create table-1 accepts for restaurant data

sql = '''CREATE table accepts(placeID int, 
         Rpayment text);'''

cur.execute(sql)

# copy data from csv to postgres
sql2 = '''COPY accepts(placeID, Rpayment)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozaccepts.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

# Select all the columns from table-accepts
sql3 = '''SELECT * from accepts;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()
# conn.close()

#2. Type of cuisine in the restaurant:
#Droping cuisine table if already exists
cur.execute("DROP TABLE IF EXISTS cuisine ")
print("Table 2 dropped... ")


sql = '''CREATE table cuisine(placeID int, 
         Rcuisine text);'''

cur.execute(sql)

sql2 = '''COPY cuisine(placeID, Rcuisine)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozcuisine.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from cuisine;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

# 3. Restaurant timings

#Droping hours table if already exists
cur.execute("DROP TABLE IF EXISTS hours ")
print("Table 3 dropped... ")


sql = '''CREATE table hours(placeID int, 
         hours varchar,
         days varchar);'''

cur.execute(sql)

sql2 = '''COPY hours(placeID, hours, days)
FROM 'A:/launch_code_STL/Final_Homework/week-15/Restaurant/chefmozhours4.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from hours;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

# 4. Restaurant Parking

#Droping parking table if already exists
cur.execute("DROP TABLE IF EXISTS parking ")
print("Table 4 dropped... ")


sql = '''CREATE table parking(placeID int, 
         lot text);'''

cur.execute(sql)

sql2 = '''COPY parking(placeID, lot)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozparking.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from parking;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

#5. Restaurant Geoplaces in mexican country

#Droping geoplaces table if already exists
cur.execute("DROP TABLE IF EXISTS geoplaces ")
print("Table 5 dropped... ")


sql = '''CREATE table geoplaces(placeID integer,
                                latitude float,
                                longitude float,
                                the_geom_meter varchar,
                                name varchar,
                                address varchar,
                                city varchar,
                                state varchar,
                                country varchar,
                                fax varchar,
                                zip varchar,
                                alcohol varchar,
                                smoking_area text,
                                dress_code text,
                                accessibility text,
                                price text,
                                url varchar,
                                Rambience text,
                                franchise text,
                                area text,
                                other_services text);'''

cur.execute(sql)

sql2 = '''COPY geoplaces(placeID, latitude, longitude, the_geom_meter, name, address, city, state, country, fax, zip, alcohol,
                        smoking_area, dress_code, accessibility, price, url, Rambience, franchise, area, other_services)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\geoplaces2.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from geoplaces;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

##6. Ratings table
#Droping rating table if already exists
cur.execute("DROP TABLE IF EXISTS rating ")
print("Table 6 dropped... ")


sql = '''CREATE table rating(userID varchar,
                             placeID integer,
                             rating integer,
                             food_rating integer,
                             service_rating integer);'''

cur.execute(sql)

sql2 = '''COPY rating(userID, placeID, rating, food_rating, service_rating)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\\rating.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from rating;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

##7. User cuisine information table:

#Droping usercuisine table if already exists
cur.execute("DROP TABLE IF EXISTS usercuisine ")
print("Table 7 dropped... ")


sql = '''CREATE table usercuisine(userID varchar,
                                  Ucuisine  text);'''

cur.execute(sql)

sql2 = '''COPY usercuisine(userID, Ucuisine)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\\usercuisine.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from usercuisine;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

##8. user payment information table
#Droping userpayment table if already exists
cur.execute("DROP TABLE IF EXISTS userpayment ")
print("Table 8 dropped... ")


sql = '''CREATE table userpayment(userID varchar,
                                  Upayment   text);'''

cur.execute(sql)

sql2 = '''COPY userpayment(userID, Upayment)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\\userpayment.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from userpayment;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()
conn.close()

Table 1 dropped...
135110
cash
Table 2 dropped...
135110
Spanish
Table 3 dropped...
135111
00:00-23:30;
Mon;Tue;Wed;Thu;Fri;
Table 4 dropped...
135111
public
Table 5 dropped...
134999
18.915421
-99.184871
0101000020957F000088568DE356715AC138C0A525FC464A41
Kiku Cuernavaca
Revolucion
Cuernavaca
Morelos
Mexico
?
?
No_Alcohol_Served
none
informal
no_accessibility
medium
kikucuernavaca.com.mx
familiar
f
closed
none
Table 6 dropped...
U1077
135085
2
2
2
Table 7 dropped...
U1001
American
Table 8 dropped...
U1001
cash

#### 1-Identify the Restaurants that has American cuisine with highest food rating and service_rating with no smoking in mexico?

In [16]:
SQL_query1 = '''SELECT g.name AS Restaurant_name, food_rating, service_rating
                FROM geoplaces AS g
                INNER JOIN rating AS r
                USING(placeID)
                INNER JOIN cuisine AS c
                USING(placeID)
                INNER JOIN accepts AS a
                USING(placeID)
                WHERE food_rating = 2 AND service_rating = 2 AND rcuisine = 'American' AND smoking_area = 'not permitted' AND rpayment = 'VISA'
                GROUP BY Restaurant_name, rcuisine, food_rating, service_rating, smoking_area, rpayment
                ORDER BY rcuisine DESC;'''

Resource : https://www.kaggle.com/uciml/restaurant-data-with-consumer-ratings/metadata