## ETL Project
### Restaurant Data with Consumer Ratings

#### Load the data using psycopg2:

In [ ]:
# import psycopg2
# conn = psycopg2.connect("host=localhost dbname=restaurant user=postgres password=Dmaisamma@69")
# cur = conn.cursor()
# with open('A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozaccepts.csv', 'r') as f:
#     # Notice that we don't need the `csv` module.
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'payment', sep=',')
# with open('A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozcuisine.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'cuisine', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozhours4.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'hours', sep=',')
# with open('A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozparking.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'parking', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\geoplaces2.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'geoplaces', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\rating.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'rating', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\usercuisine.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'usercuisine', sep=',')
# with open(r'A:\launch_code_STL\Final_Homework\week-15\Restaurant\userpayment.csv', 'r') as f:
#     next(f) # Skip the header row.
#     cur.copy_from(f, 'userpayment', sep=',')

    
# # commit to load CSV files into a Postgres table.   
# conn.commit()    

# #close the cursor
# #cur.close()

# #close the connection
# #conn.close()

In [59]:
import psycopg2
password="Dmaisamma@69"
conn = psycopg2.connect(host="localhost", dbname="restaurants", user="postgres", password=password)
# conn.autocommit = True
cur = conn.cursor()

# 1.Accepts cash or credit in restaurant:

#Droping accepts(cash/VISA/Credit_card) table if already exists
cur.execute("DROP TABLE IF EXISTS accepts ")
print("Table 1 dropped... ")

# create table-1 accepts for restaurant data

sql = '''CREATE table accepts(placeID int, 
         Rpayment text);'''

cur.execute(sql)

# copy data from csv to postgres
sql2 = '''COPY accepts(placeID, Rpayment)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozaccepts.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

# Select all the columns from table-accepts
sql3 = '''SELECT * from accepts;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()
# conn.close()

#2. Type of cuisine in the restaurant:
#Droping cuisine table if already exists
cur.execute("DROP TABLE IF EXISTS cuisine ")
print("Table 2 dropped... ")


sql = '''CREATE table cuisine(placeID int, 
         Rcuisine text);'''

cur.execute(sql)

sql2 = '''COPY cuisine(placeID, Rcuisine)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozcuisine.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from cuisine;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

# 3. Restaurant timings

#Droping hours table if already exists
cur.execute("DROP TABLE IF EXISTS hours ")
print("Table 3 dropped... ")


sql = '''CREATE table hours(placeID int, 
         hours varchar,
         days varchar);'''

cur.execute(sql)

sql2 = '''COPY hours(placeID, hours, days)
FROM 'A:/launch_code_STL/Final_Homework/week-15/Restaurant/chefmozhours4.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from hours;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

# 4. Restaurant Parking

#Droping parking table if already exists
cur.execute("DROP TABLE IF EXISTS parking ")
print("Table 4 dropped... ")


sql = '''CREATE table parking(placeID int, 
         lot text);'''

cur.execute(sql)

sql2 = '''COPY parking(placeID, lot)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\chefmozparking.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from parking;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

#5. Restaurant Geoplaces in mexican country

#Droping geoplaces table if already exists
cur.execute("DROP TABLE IF EXISTS geoplaces ")
print("Table 5 dropped... ")


sql = '''CREATE table geoplaces(placeID integer,
                                latitude float,
                                longitude float,
                                the_geom_meter varchar,
                                name varchar,
                                address varchar,
                                city varchar,
                                state varchar,
                                country varchar,
                                fax varchar,
                                zip varchar,
                                alcohol varchar,
                                smoking_area text,
                                dress_code text,
                                accessibility text,
                                price text,
                                url varchar,
                                Rambience text,
                                franchise text,
                                area text,
                                other_services text);'''

cur.execute(sql)

sql2 = '''COPY geoplaces(placeID, latitude, longitude, the_geom_meter, name, address, city, state, country, fax, zip, alcohol,
                        smoking_area, dress_code, accessibility, price, url, Rambience, franchise, area, other_services)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\geoplaces2.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from geoplaces;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

##6. Ratings table
#Droping rating table if already exists
cur.execute("DROP TABLE IF EXISTS rating ")
print("Table 6 dropped... ")


sql = '''CREATE table rating(userID varchar,
                             placeID integer,
                             rating integer,
                             food_rating integer,
                             service_rating integer);'''

cur.execute(sql)

sql2 = '''COPY rating(userID, placeID, rating, food_rating, service_rating)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\\rating.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from rating;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

##7. User cuisine information table:

#Droping usercuisine table if already exists
cur.execute("DROP TABLE IF EXISTS usercuisine ")
print("Table 7 dropped... ")


sql = '''CREATE table usercuisine(userID varchar,
                                  Ucuisine  text);'''

cur.execute(sql)

sql2 = '''COPY usercuisine(userID, Ucuisine)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\\usercuisine.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from usercuisine;'''

cur.execute(sql3)

for i in cur.fetchone():
    print(i)
    
conn.commit()

##8. user payment information table
#Droping userpayment table if already exists
cur.execute("DROP TABLE IF EXISTS userpayment ")
print("Table 8 dropped... ")


sql = '''CREATE table userpayment(userID varchar,
                                  Upayment   text);'''

cur.execute(sql)

sql2 = '''COPY userpayment(userID, Upayment)
FROM 'A:\launch_code_STL\Final_Homework\week-15\Restaurant\\userpayment.csv'
DELIMITER ','
CSV HEADER;'''

cur.execute(sql2)

sql3 = '''SELECT * from userpayment;'''

cur.execute(sql3)


## Drop the column with no values using alter statement
# cur.execute("alter table geoplaces drop column fax ")
# print("fax coulmn droped")

for i in cur.fetchone():
    print(i)
    
conn.commit()
conn.close()

Table 1 dropped...
135110
cash
Table 2 dropped...
135110
Spanish
Table 3 dropped...
135111
00:00-23:30;
Mon;Tue;Wed;Thu;Fri;
Table 4 dropped...
135111
public
Table 5 dropped...
134999
18.915421
-99.184871
0101000020957F000088568DE356715AC138C0A525FC464A41
Kiku Cuernavaca
Revolucion
Cuernavaca
Morelos
Mexico
?
?
No_Alcohol_Served
none
informal
no_accessibility
medium
kikucuernavaca.com.mx
familiar
f
closed
none
Table 6 dropped...
U1077
135085
2
2
2
Table 7 dropped...
U1001
American
Table 8 dropped...
U1001
cash

#### 1. Identify the top three Restaurant names that serve largest no.of cuisines and has top overall rating?

In [68]:
import psycopg2
password="Dmaisamma@69"
conn = psycopg2.connect(host="localhost", dbname="restaurants", user="postgres", password=password)
cur = conn.cursor()
SQL_query1 = '''SELECT g.placeid, g.name, AVG(r.rating) as avg_rating, COUNT(DISTINCT rcuisine) AS cuisine_cnt
                FROM geoplaces AS g
                    INNER JOIN rating AS r
                        ON g.placeid = r.placeid
                    INNER JOIN cuisine AS c
                        ON r.placeid = c.placeid
                    GROUP BY g.placeid, g.name
                    ORDER BY  cuisine_cnt desc, avg_rating DESC;'''

cur.execute(SQL_query1)
for i in cur.fetchone():
    print(i)

134976
Log Yin
1.7500000000000000
3

#### 2. Determine the top two cities that are having more number of restaurants which are medium in price and also top overall rating?

In [71]:
cur = conn.cursor()
SQL_query2 = '''SELECT city, COUNT(DISTINCT g.placeid) AS restuarant_cnt, AVG(r.rating) as avg_rating
                FROM geoplaces AS g
                INNER JOIN rating AS r
                    ON g.placeid = r.placeid
                INNER JOIN parking AS p
                    ON r.placeid = p.placeid
                WHERE city != '?' AND price = 'medium'
                GROUP BY city
                ORDER BY restuarant_cnt DESC, avg_rating DESC;'''

cur.execute(SQL_query2)
for i in cur.fetchone():
    print(i)

San Luis Potosi
34
1.2685851318944844

#### 3. List of restaurants that has American cuisine with overall rating and accepts cash for payment?

In [72]:
cur = conn.cursor()
SQL_query3 = '''SELECT g.placeid, g.name AS Restaurant_name, AVG(r.rating) as avg_rating, rpayment
                FROM cuisine AS c
                    INNER JOIN geoplaces AS g
                        ON c.placeid = g.placeid
                    INNER JOIN rating AS r
                        ON g.placeid = r.placeid
                    INNER JOIN accepts as a 
                        ON r.placeid = a.placeid
                    WHERE rcuisine = 'American' AND rpayment = 'cash'
                    GROUP BY g.placeid, Restaurant_name, rpayment
                    ORDER BY avg_rating DESC;'''

cur.execute(SQL_query3)
for i in cur.fetchall():
    print(i)

(132958, 'tacos los volcanes', Decimal('1.6666666666666667'), 'cash')
(132851, 'KFC', Decimal('1.4285714285714286'), 'cash')
(132583, 'McDonalds Centro', Decimal('1.00000000000000000000'), 'cash')
(132951, 'VIPS', Decimal('1.00000000000000000000'), 'cash')
(132872, 'Pizzeria Julios', Decimal('0.91666666666666666667'), 'cash')

#### 4. Determine the list of all restaurants that serve alcohol and are open on saturdays and sundays and has Bar/Bar_Pub_Brewery?

In [74]:
cur = conn.cursor()
SQL_query4 = '''SELECT g.placeid, g.name AS Restaurant_name, rcuisine AS cuisine
                FROM geoplaces AS g
                    INNER JOIN hours AS h
                        ON g.placeid = h.placeid
                    INNER JOIN cuisine AS c
                        ON h.placeid = c.placeid
                    WHERE hours = '00:00-00:00;' AND rcuisine = 'Bar' OR rcuisine ='Bar_Pub_Brewery'
                    GROUP BY g.placeid, Restaurant_name, cuisine
                    ORDER BY Restaurant_name DESC;'''

cur.execute(SQL_query4)
for i in cur.fetchall():
    print(i)

(135071, 'Restaurante la Cantina', 'Bar_Pub_Brewery')
(135073, 'Restaurante Bar El Gallinero', 'Bar')
(135073, 'Restaurante Bar El Gallinero', 'Bar_Pub_Brewery')
(135019, 'Restaurant Bar Coty y Pablo', 'Bar')
(134983, 'Restaurant and Bar and Clothesline Carlos N Charlies', 'Bar_Pub_Brewery')
(135041, 'Luna Cafe', 'Bar')
(135052, 'La Cantina Restaurante', 'Bar_Pub_Brewery')
(135026, 'la Cantina', 'Bar')
(135026, 'la Cantina', 'Bar_Pub_Brewery')
(132955, 'emilianos', 'Bar_Pub_Brewery')

Resource : https://www.kaggle.com/uciml/restaurant-data-with-consumer-ratings/metadata